;https://editorconfig-specification.readthedocs.io/en/latest/
root=true

[*]
charset = utf-8
indent_style = space

[*.py]
indent_style = space
indent_size = 4

[{*.s,*.asm,Makefile,.config/**/config}]
indent_style = tab

[sshcontrol]
insert_final_newline=true