;https://editorconfig-specification.readthedocs.io/en/latest/
root=true

[*]
charset = utf-8

[*.el]
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[.gitconfig]
indent_style = tab
