;https://editorconfig-specification.readthedocs.io/en/latest/
;https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
root=true

[*]
charset = utf-8
indent_style = space

[*.py]
indent_style = space
indent_size = 4

[{*.s,*.asm,Makefile,.config/**/config}]
indent_style = tab

[{sshcontrol,.gitignore,.projectile}]
insert_final_newline=true