[include]
	path = ~/.gitconfig.local
	# [user]
	# name = 
	# email = 
[core]
	editor = emacs
[color]
	ui = auto
[merge]
	tool = vimdiff
[alias]
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ba = branch -a
	st = status
	c = commit
	del-local-branch = branch --delete
	del-remote-branch = push --delete origin
	shared-init = init --bare --shared
	co = checkout
	diffst = diff stash@{0}
	root = rev-parse --show-toplevel
[status]
	showUntrackedFiles = all
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
